.nav {
  background-color: #f9f9fa7e;
  border-top: 2.5px solid rgba(233, 159, 172, 0.5);
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  /* box-sizing: border-box; */
  width: 95%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.nav__notification2 {
  background: pink;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  left: 30px;
  bottom: 25px;
}
